* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    height:100vh;
    display: grid; 
    grid-template-rows: 1fr 8fr;
}

.header {
    background-color: red;
    grid-row:1/2;
    min-height: 12rem;
}

#library-container {
    display: grid;
    background-color: blue;
    grid-row:2/3;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
}

.library-item, .book{
    height: 35rem;
    width: 45rem;
    margin: 2rem;
    background-color: orange;
}

.modal {
    display: none; /* Hide by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: rgb(0,0,0);
}

.add-form-container {
    background-color: white;
    margin: 15% auto;
    padding: 2rem;
    border:.1rem solid orange;
    width:80%;
}

.close {
    color: #aaa;
    float: right;
    font-size:2.8rem;
    font-weight:600;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}